﻿
<div>
    <h3>Распродажа книг</h3><table>
        <tr>
            <td>
                <p>Назва</p>
            </td>
            <td>
                <p>Ліміт (грн)</p>
            </td>
            <td>
                <p>Срок (міс.)</p>
            </td>
            <td>
            </td>
        </tr>
    @foreach (var b in ViewBag.Books)
    {
        <tr>
            <td>
                <p>@b.Name</p>
            </td>
            <td>
                <p>@b.Author</p>
            </td>
            <td>
                <p>@b.Price</p>
            </td>
            <td>
                <p>
                    <a href="/Home/Buy/@b.Id">Купить</a>
                </p>
            </td>
        </tr>
    }
    </table>
</div>